---
layout: layout
---

<!-- Page Start -->
<div class="container">
    <div class="row">
        <% if (page.sidebar) { %>
            <div class="
                col-lg-8 col-lg-offset-1
                col-md-8 col-md-offset-1
                col-sm-12
                col-xs-12
                content-container
            ">
                <%- page.content || body %>
                <br>
            
                <% if (page.comment) { %>
                    <%- partial('_partial/comment') %>
                <% } %>
            </div>
            <%- partial('_partial/sidebar') %>
        <% } else { %>
            <div class="col-12 content-container">
                <%- page.content || body %>
                <br>
            
                <% if (page.comment) { %>
                    <%- partial('_partial/comment') %>
                <% } %>
            </div>
        <% } %>
    </div>
</div>
<!-- Page End -->
