<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="google-site-verification" content="xBT4GhYoi5qRD5tr338pgPM5OWHHIDR6mNg1a3euekI" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="<%= config.description + '-' + page.title  %>">
    <meta name="keyword"  content="<%= config.keyword + ',' + page.title %>">
    <link rel="shortcut icon" href="<%= config.root %>img/avatar/my-avatar.jpg">
    <title>
        <% if (page.title) { %>
          <%= page.title + ' - ' + theme.SEOTitle %>
        <% } else{%>
          <%= theme.SEOTitle %>
        <% } %>
    </title>
    <link rel="canonical" href="<%= config.url + config.root + (page.path || '').replace('index.html', '') %>">
    <%- css('css/font-awesome.min') %>
    <%- css('css/bootstrap.min') %>
    <%- css('css/omega')%>
    <%- css('css/highlight') %>
    <%- css('css/gitalk.min')%>
    <%- css('css/kkpager_orange.min')%>

    <%- js('js/jquery.min.js') %>
    <%- js('js/bootstrap.min.js') %>
    <%- js('js/gitalk.min.js') %>
    <%- js('js/kkpager.min.js') %>
    <%- js('js/button.min.js') %>
    <%- js('js/fastclick.min.js') %>
    <%- js('js/omega.js') %>
</head>
