<% if (is_post()) { %>
	<style>
		.post-header-no-banner {
			margin-top: 60px;
			margin-bottom: 20px;
			text-align: center;
			color: #333333;
		}
		.post-header-no-banner .meta {
			font-family: 'Lora', 'Times New Roman', serif;
			font-style: italic;
			font-weight: 300;
			font-size: 18px;
		}
	</style>
	<div class="post-header-no-banner">
		<div class="post-heading">
			<h1><%= page.title %></h1>
			<h2 class="subheading"><%= page.subtitle || "" %></h2>
			<div class="tags">
				<% page.tags.forEach(function(tag){ %>
				<a class="tag" href="<%= config.root %>tags/<%= tag.name %>" title="<%= tag.name %>"><%= tag.name %></a>
				<% }) %>
			</div>
			<span class="meta">
				Posted by <%- page.author || config.author %> on
				<%= page.date.format(config.date_format) %>
			</span>
		</div>
	</div>
<% } %>